body {
    font-family: 'Arimo', sans-serif;
font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f0f0f0; */
    background: linear-gradient(to right, #e4dada, #85bdbd);
}


.container {
    text-align: center;
}

input {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

#weatherData {
    margin-top: 20px;
}
#weatherData {
    margin-top: 20px;
}


#weatherData h1:hover,
#weatherData h3:hover, img:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out;
}