body {
    font-family: 'Arimo', sans-serif;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #e4dada, #85bdbd);
}

.container {
    text-align: center;
}

input {
    padding: 10px;
    margin: 10px;
}


button {
    padding: 10px;
    background: linear-gradient(to right, #ff8c00, #ff6347); /* Unique gradient colors */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

/* Hover effect for the button */
button:hover {
    background: linear-gradient(to right, #ff6347, #ff8c00); /* Reverse gradient colors on hover */
}
.text-salmon{
    font-size: 60px;
    color: salmon;
}
.text-orange{
    font-size: 20px;
    color: orangered;
}



#weatherData {
    margin-top: 20px;
}

/* Styling for h1 and h3 elements */
#weatherData h1,
#weatherData h3 {
    margin: 10px 0;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease-in-out;
}

/* Hover effect for h1 and h3 */
#weatherData h1:hover,
#weatherData h3:hover {
    color: #3498db; /* Change the color on hover */
    transform: scale(1.1);
}

/* Styling for the image */
#weatherData img {
    width: 50px; /* Adjust the image size */
    height: auto;
    margin: 10px 0;
    transition: transform 0.3s ease-in-out;
}

/* Hover effect for the image */
#weatherData img:hover {
    transform: scale(1.2); /* Change the scale on hover */
}
